@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

html {
  box-sizing: border-box;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 50px 0;
}

.app {
  text-align: center;
}
.grid-wrapper {
  width: 50%;
  margin: 0 auto;
}

.app-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  height: 75px;
  margin-top: 50px;
  color: white;
  font-size: 1.5em;
}
